/*@font-face {
    font-family: myFirstFont;
    src: url(fonts/OstrichSansInline-Italic.otf);
}*/

/*h1,h2,h3,h4,h5,h6{
  font-family: myFirstFont !important;
  font-size:;
}*/
.cards-1{
  text-align: center;
}
.test--carousel {
  max-width: 1400px;
  margin: auto
}
.test--carousel .workout--card {
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-transform: scale(.84);
  transform: scale(.84);
  transition: all 500ms ease;
  /**/

}
.test--carousel .workout--card+.workout--card {
  margin-left: 0px;
  
}
.test--carousel .slick-center {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 500ms ease
}
           
    /* mouse over link */
    

    /* selected link */
    ul li a:hover{
      text-decoration: none !important;

    }
    a:hover{
      text-decoration: underline !important;
    }

    .main{
        margin-top:-20px; 
      
    }

  



.explore-button{
    color: #0575E6;
    border: none;

}

.explore-button:hover{
    color: #0575E6;
    border: none; 
}
.submit-button{
    color: #0575E6;
    border: none;

}

.submit-button:hover{
    color: #0575E6;
    border: none; 
}


   

    .nav .active a{
       color: blue !important;
       background-color: transparent !important

    }
    .navbar{
       box-shadow: 0px 8px 6px -10px #2980b9;
       background-color: white;

    }

    .paddingBottom{
        padding-bottom: 80px;
    }    

    .paddingTop{
        padding-top: 40px;
    } 

    .navbar-fixed-top {
       min-height: 80px;
    }

    .navbar-nav > li > a {
       padding-top: 0px;
       padding-bottom: 0px;
       line-height: 80px;
    }

    @media (max-width: 767px) {
       .navbar-nav > li > a {
       line-height: 20px;
       padding-top: 10px;
       padding-bottom: 10px;}
    }


.white{
  color: white;
}
.black{
  color: black;
}
    .clients-section {
  background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  margin-top: 120px;
  padding: 65px 0 120px;
  text-align: center; }
  .clients-section h3 {
    color: #FFF;
    margin-top: 0;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: .3px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .clients-section p {
    font-size: 16px;
    color: #f8f8f8;
    margin-top: 17px;
    font-weight: 300;
    line-height: 25px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .clients-section .logos {
    margin-top: 35px; }
    .clients-section .logos img {
      margin: 0 16px; }
      @media (max-width: 767px) {
        .clients-section .logos img {
          margin: 0 auto;
          display: block;
          margin-bottom: 15px; } }


    .intro-container{
       

     background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  
    }

    .main{
        padding-top: 95px;
    }

    .process-area{
      
    }

    .feature-area{
      
    }

    .about-product-area{
      background-color: #eeeeee; 
      
    }
     
     .myFooter{
      
      background-color: #eeeeee;
     }

     .newsletter-area{
      background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

padding-bottom: 50px
     }

     .testimonials{
       background-color: #eeeeee;

     }


.service-area{


}
.card{
background-color: white !important;
border: 1px #eeeeee solid;
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}